body {
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    color: darkblue;
}
.header#name {
    color: darkviolet;
    text-decoration-line: underline;
}

.container-image {
    text-align: center;
}

.image {
    height: auto;
    width: 400px;
}

li {
    line-height: 25px;
}

.ingredients {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.steps {
    font-family: 'Courier New', Courier, monospace;
}