.recipe.frontpage {
    border: 2px dotted darkviolet;
    width: 400px;
    height: auto;
    margin: 10px auto;
}


.intro {
    color:darkmagenta;
    font-weight: bold;
    text-align: center;
}

.list {
    display: table;
    list-style: none;
    margin: 10px auto;
    padding: 0;
    color: violet;
}
